/* mobile & tablet */
@media (max-width:1300px){
    .header__wrapper-logo{
        order: 2;
        margin-right: 25px;
    }
    .header__wrapper-icon{
        order: 2;
        margin-left: 25px;
    }
    .m-6{
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}
@media (max-width:1023px)
{
    .hide-on-mobile-tablet {
        display: none;
    }
    .header__nav{
        flex-direction: column;
        background: #555;
    }
    .header__wrapper-icon{
        margin-top: 10px;
    }
    .header__wrapper-logo{
        width: 180px;
        height: 57px;
    }
    .header__icon{
        font-size: 4.5rem;
    }
    .open-on-tablet-moblie
    {
        display: block;
    }

}
/* tablet */
@media (min-width:740px) and (max-width:1023px)
{
    .hide-on-tablet
    {
        display: none;
    }
   
}
/* Mobile */
@media (max-width:320px)
{
    .container__title h1 span::before{
        display: none;
    }
    .header__Europe-title h1{
        font-size: 2.5rem;
    }
}
@media (max-width:739px)
{
    .hide-on-mobile{
        display: none;
    }
    .header__container-search-title h1{
        height: 100%;
        display: flex;
        flex-direction: column; 
        align-items: center;
       
    }
    .header__container-search-title p{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
   .header__container-search-exciting{
       flex-direction: column;
   }
   .header__container-search-exciting-group + .header__container-search-exciting-group{
       margin-left: 0;
   }
   .header__container-search-exciting-group{
       margin-bottom: 50px;
       width: 300px;
       display: flex;
       justify-content: center;
   }
   .header__container-search-title{
       margin-top: 50px;
   }
   .header__container-search-search{
       width: 90%;
   }
   .header__Europe-title{
       left: 0;
       bottom: 5px;
   }
   .header__bag{
       top:2px;
       left: 4px;
   }
   .header__Europe-titles{
       margin-bottom: 5px;
   }
   .header__Europe-btn{
       margin-top: 8px;
   }
   .container__book-group{
       padding-top:100% ;
       background-position: center;
       margin-top: 24px;
   }
   .container__book-day{
       width: 100%;
   }
   .container__book{
       padding:16px;
   }
}
